@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}
.desc {
  font-weight: medium;
}
.desc:hover {
  scale: 1.01;
  color: #adff2f;
}
.job-list {
  min-height: 100px;
  width: 70vw;
  margin: 15px auto;
  background-color: black !important;
  color: white !important;
}
